<div id="registerForm">
	<h1>Register</h1>
	<form action="#/register" method="POST">
		<label>Username</label>
		<input type="text" name="username" id="registerUsername" required="required" />
		<label>Password</label>
		<input type="password" name="password" id="registerPassword" required="required" />
		<label>Repeat Password</label>
		<input type="password" name="repeatPassword" id="registerRepeatPassword" required="required" />
		<input type="submit" value="Register" />
	</form>
</div>