<header>
	<nav>
		<a href="#/home">Home</a>
		{{#if isAuthenticated}}
			<span>Welcome, {{username}}!</span>
			<form action="#/logout" method="POST">
				<button type="submit">Logout</button>
			</form>
		{{else}}
			<a href="#/login">Login</a>
			<a href="#/register">Register</a>
		{{/if}}
	</nav>
</header>
<hr />
<main>{{> content}}</main>
<hr />
<footer>&copy; 2019 BulSar Soft LLC</footer>