<h2>Login with an existing account</h1>
<form action="#/login" method="POST">
	<label>
		<span>Username</span>
		<input type="text" name="username" required="required" />
	</label>
	<label>
		<span>Password</span>
		<input type="password" name="password" required="required" />
	</label>
	<button type="submit">Login</button>
</form>