<h2>Register a new account</h1>
<form action="#/register" method="POST">
	<label>
		<span>Username</span>
		<input type="text" name="username">
	</label>
	<label>
		<span>Password</span>
		<input type="password" name="password">
	</label>
	<label>
		<span>Repeat Password</span>
		<input type="password" name="repeatPassword">
	</label>
	<button type="submit">Register</button>
</form>